<!DOCTYPE html>
<script type="text/javascript">
// IMAGES 
  window.logoURL = "<%= image_url('logo_blue.png') %>"
  window.whitelogoURL = "<%= image_url('logo_white.png') %>"
  window.formlogoURL = "<%= image_url('form_logo.png') %>"
  window.splashURL = "<%= image_url('splash_hero.jpg') %>"
  window.githubURL = "<%= image_url('github.png') %>"
  window.contactURL = "<%= image_url('contact.png') %>"
  window.linkedInURL = "<%= image_url('linked_in.png') %>"
  window.instagramURL = "<%= image_url('instagram.png') %>"
  window.degreeIconURL = "<%= image_url('degree_icon.jpg') %>"
  window.checkIconURL = "<%= image_url('checked.png') %>"
  
  window.therapist1URL = "<%= image_url('therapist1.jpg') %>"
  window.therapist2URL = "<%= image_url('therapist2.jpg') %>"
  window.therapist3URL = "<%= image_url('therapist3.jpg') %>"
  window.therapist4URL = "<%= image_url('therapist4.jpg') %>"
  window.therapist5URL = "<%= image_url('therapist5.jpg') %>"
  window.therapist6URL = "<%= image_url('therapist6.jpg') %>"

</script>

<html>
  <head>
    <title>Calmspace | Online Therapy</title>
    <meta name="description" content="With Calmspace online therapy, anyone can get therapy without traveling to an office - join 1 million people who already feel happier!">
    <link rel="stylesheet" href="//cdn.quilljs.com/1.2.6/quill.snow.css">
   
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
  
   <!-- FONTS -->
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed&display=swap" rel="stylesheet">
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= favicon_link_tag asset_path('logo_favicon.png') %>
  </head>

<% if logged_in? && user_type == 'user' %>
  <script id="bootstrap-current-user" type="text/javascript">
  	window.currentUser = <%= render("api/users/user.json.jbuilder",
  		user: current_user).html_safe %>
  </script>
<% elsif logged_in? && user_type == 'therapist' %>
  <script id="bootstrap-current-user" type="text/javascript">
  	window.currentUser = <%= render("api/therapists/show.json.jbuilder",
  		user: current_user).html_safe %>
  </script>
<% end %>

  <body>
    <%= yield %>
  </body>
</html>
